<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="/images/american-safety-council-colored.png" width="40" height="40" class="d-inline-block align-top" alt="American Safety Council">
    <span class="brand-text">Account Manager 2.0</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-bav" aria-controls="main-bav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main-bav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Order Lookup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/audit-logs">Audit Logs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
  </div>
</nav>
