{% set PageTitle = "Account Manager 2.0" %}
{% set PageDescription = "Live Mockups for Account Manager 2.0" %}
{% set CanonicalPage = "" %}

{% extends "MainTemplate.njk" %}

{% block MainContent %}
  <section class="wrap flex-shrink-0">
    <div class="container-fluid but-fixed">
      <div class="row">
        <div class="breadcrumb-wrap col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Search</a></li>
              <li class="breadcrumb-item active" aria-current="page">Account Details: xtiantest_0512</li>
            </ol>
          </nav>
        </div>
        <div class="col-12">
          <h1 class="h2 mb-3">Account Details: <span class="text-danger">xtiantest_0512</span></h1>
          <div class="card border-dark mb-3 mb-lg-4">
            <div class="card-body pt-3 pb-3">
              <div class="row">
                <div class="col-sm-6 col-lg-3 student-data-col">
                  <div class="label text-muted font-weight-light small">Student Name</div>
                  <div class="student-data">Christian C. Castanares</div>
                </div>
                <div class="col-sm-6 col-lg-3 student-data-col">
                  <div class="label text-muted font-weight-light small">Username</div>
                  <div class="student-data"><a href="/account-details/">xtiantest_0512</a></div>
                </div>
                <div class="col-sm-6 col-lg-3 student-data-col">
                  <div class="label text-muted font-weight-light small">Email</div>
                  <div class="student-data">test@email.com</div>
                </div>
                <div class="col-sm-6 col-lg-3 student-data-col">
                  <div class="label text-muted font-weight-light small">Date of Birth</div>
                  <div class="student-data">5/20/2020</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card mb-4">
            <div class="card-header d-flex">
              <h5 class="card-title mb-0">Account Information</h5>
              <div class="btn-group ml-auto">
                <button class="btn btn-sm dropdown-toggle action-btn" type="button" data-toggle="dropdown">Actions</button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">Legacy Account Manager</a>
                  <a class="dropdown-item" href="#">Impersonate Student</a>
                  <a class="dropdown-item" href="/edit-student-form/">Edit Student Information</a>
                  <a class="dropdown-item" href="#resetPassword" data-toggle="modal">Send Reset Password Email</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <dl class="mb-0">
                <dt class="label">First Name</dt>
                <dd class="student-data">Christian</dd>
                <dt class="label">Middle Name/Initial</dt>
                <dd class="student-data">C</dd>
                <dt class="label">Last Name</dt>
                <dd class="student-data">Castanares</dd>
                <dt class="label">Date of Birth</dt>
                <dd class="student-data">5/20/2020</dd>
                <dt class="label">Gender</dt>
                <dd class="student-data">Male</dd>
                <dt class="label">Shipping Address</dt>
                <dd class="student-data">225 E Robinson St Suite 570, Orlando, FL 32801</dd>
                <dt class="label">Email</dt>
                <dd class="student-data">test@email.com</dd>
                <dt class="label">Phone</dt>
                <dd class="student-data">111-111-1111</dd>
                <dt class="label">Username</dt>
                <dd class="student-data">xtiantest_0512</dd>
                <dt class="label">Social Security #</dt>
                <dd class="student-data">***-**-1111</dd>
                <dt class="label">Is Active</dt>
                <dd class="student-data">Yes</dd>
                <dt class="label">Is Migrated</dt>
                <dd class="student-data">Yes</dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card mb-4">
            <div class="card-header d-flex">
              <h5 class="card-title mb-0">Billing Information</h5>
              <div class="btn-group ml-auto">
                <button class="btn btn-sm dropdown-toggle action-btn" type="button" data-toggle="dropdown">Actions</button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="/sample-form/">Update Billing Info</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <dl class="mb-4">
                <dt class="label">First Name</dt>
                <dd class="student-data">Christian</dd>
                <dt class="label">Last Name</dt>
                <dd class="student-data">Castanares</dd>
                <dt class="label">Billing Address</dt>
                <dd class="student-data">225 E Robinson St Suite 570, Orlando, FL 32801</dd>
                <dt class="label">Billing Email</dt>
                <dd class="student-data">test@email.com</dd>
                <dt class="label">Billing Phone</dt>
                <dd class="student-data">111-111-1111</dd>
                <dt class="label">Credit Card #</dt>
                <dd class="student-data">****-****-****-1111</dd>
              </dl>
              <h4>Latest Transactions</h4>
              <table class="table table-bordered table-sm mb-0">
                <thead>
                  <tr>
                    <th scope="col">Date/Time</th>
                    <th scope="col">Reference #</th>
                    <th scope="col">Card Last 4</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>05/20/2020 10:15 PM</td>
                    <td>5875821830386865904009</td>
                    <td>1111</td>
                  </tr>
                  <tr>
                    <td>04/14/2020 15:24 PM</td>
                    <td>1235821830386865904009</td>
                    <td>1111</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-lg-12 mb-4">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="orders-tab" data-toggle="tab" href="#orders-content" role="tab" aria-controls="home" aria-selected="true"><strong>Orders</strong></a>
              <a class="nav-item nav-link" id="refunds-tab" data-toggle="tab" href="#refunds-content" role="tab" aria-controls="profile" aria-selected="false"><strong>Refunds</strong></a>
              <a class="nav-item nav-link" id="audit-tab" data-toggle="tab" href="#audit-content" role="tab" aria-controls="contact" aria-selected="false"><strong>Audit Logs</strong></a>
            </div>
          </nav>
          <div class="tab-content">
            <div class="tab-pane fade pt-3 show active" id="orders-content" role="tabpanel" aria-labelledby="orders-tab">
              <div class="card order-card mb-2 table-responsive-lg">
                <table class="table table-hover mb-0 font-smaller">
                  <thead class="thead-light">
                    <tr>
                      <th>Order ID</th>
                      <th>Locked</th>
                      <th>Date</th>
                      <th>Source</th>
                      <th>Payment Type</th>
                      <th>Affiliate</th>
                      <th>Corp Merch</th>
                      <th class="text-right action">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><a href="/order-details/">30030972</a></td>
                      <td>False</td>
                      <td>04/14/2020 15:24 PM</td>
                      <td>newyorksafetycouncil_new</td>
                      <td>Credit</td>
                      <td>American Safety Council</td>
                      <td>Yes</td>
                      <td class="text-right">
                        <div class="btn-group ml-auto">
                          <button class="btn btn-sm dropdown-toggle action-btn" type="button" data-toggle="dropdown">Actions</button>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/order-details/">View Order Details</a>
                            <a class="dropdown-item" href="#">Impersonate Student</a>
                            <a class="dropdown-item" href="#lockOrder" data-toggle="modal">Lock/Unlock Order</a>
                            <a class="dropdown-item" href="#resendEmailConfirmation" data-toggle="modal">Resend Email Confirmation</a>
                            <a class="dropdown-item" href="#">Request Refund</a>
                            <a class="dropdown-item" href="#">Process Administrative Fees</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td><a href="/order-details/">30030986</a></td>
                      <td>False</td>
                      <td>08/14/2019 10:24 PM</td>
                      <td>firsttimedriver.com</td>
                      <td>Credit</td>
                      <td>American Safety Council</td>
                      <td>Yes</td>
                      <td class="text-right">
                        <div class="btn-group ml-auto">
                          <button class="btn btn-sm dropdown-toggle action-btn" type="button" data-toggle="dropdown">Actions</button>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/order-details/">View Order Details</a>
                            <a class="dropdown-item" href="#">Impersonate Student</a>
                            <a class="dropdown-item" href="#lockOrder" data-toggle="modal">Lock/Unlock Order</a>
                            <a class="dropdown-item" href="#resendEmailConfirmation" data-toggle="modal">Resend Email Confirmation</a>
                            <a class="dropdown-item" href="#">Request Refund</a>
                            <a class="dropdown-item" href="#">Process Administrative Fees</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td><a href="/order-details/">30030620</a></td>
                      <td>False</td>
                      <td>06/10/2018 10:24 PM</td>
                      <td>texasdrivingschool.com</td>
                      <td>Credit</td>
                      <td>American Safety Council</td>
                      <td>Yes</td>
                      <td class="text-right">
                        <div class="btn-group ml-auto">
                          <button class="btn btn-sm dropdown-toggle action-btn" type="button" data-toggle="dropdown">Actions</button>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/order-details/">View Order Details</a>
                            <a class="dropdown-item" href="#">Impersonate Student</a>
                            <a class="dropdown-item" href="#lockOrder" data-toggle="modal">Lock/Unlock Order</a>
                            <a class="dropdown-item" href="#resendEmailConfirmation" data-toggle="modal">Resend Email Confirmation</a>
                            <a class="dropdown-item" href="#">Request Refund</a>
                            <a class="dropdown-item" href="#">Process Administrative Fees</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="pagination-wrap mt-4">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled" id="previous"><a class="page-link" id="previousLink" disabled href="#">&#8592;</a></li>
                  <li class="page-item active"><a class="page-link page" data-page="1" href="javascript:void(0)">1</a></li>
                  <li class="page-item"><a class="page-link page" data-page="2" href="javascript:void(0)">2</a></li>
                  <li class="page-item"><a class="page-link page" data-page="3" href="javascript:void(0)">3</a></li>
                  <li class="page-item" id="next"><a class="page-link" id="nextLink" href="javascript:void(0)">&#8594;</a></li>
                </ul>
              </div>
            </div>
            <div class="tab-pane fade pt-3" id="refunds-content" role="tabpanel" aria-labelledby="refund-tab">
              <div class="card order-card table-responsive-lg">
                <table class="table table-sm table-hover mb-0 font-smaller">
                  <thead class="thead-light">
                    <tr>
                      <th>Order ID</th>
                      <th>Detail ID</th>
                      <th>Type</th>
                      <th>Status</th>
                      <th>Updated</th>
                      <th>Amount</th>
                      <th>Reason</th>
                      <th class="text-right actions">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><a href="/order-details/">30011372</a></td>
                      <td><a href="/course-details/">13411372</a></td>
                      <td>Line Item</td>
                      <td>Request Submitted</td>
                      <td>5/13/2020 1:49 PM	</td>
                      <td>$49.95</td>
                      <td>Content Difficulty/Exam</td>
                      <td class="text-right">
                        <div class="btn-group ml-auto">
                          <button class="btn btn-sm dropdown-toggle action-btn" type="button" data-toggle="dropdown">Actions</button>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Reject Refund</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td><a href="/order-details/">30011372</a></td>
                      <td><a href="/course-details/">13411371</a></td>
                      <td>Line Item</td>
                      <td>Request Submitted</td>
                      <td>04/14/2020 15:24 PM</td>
                      <td>$19.95</td>
                      <td>Expedite Problem</td>
                      <td class="text-right">
                        <div class="btn-group ml-auto">
                          <button class="btn btn-sm dropdown-toggle action-btn" type="button" data-toggle="dropdown">Actions</button>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Reject Refund</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td><a href="/order-details/">30011336</a></td>
                      <td><a href="/course-details/">13411373</a></td>
                      <td>Order Total</td>
                      <td>Request Submitted</td>
                      <td>04/14/2020 15:24 PM</td>
                      <td>$149.95</td>
                      <td>Technical</td>
                      <td class="text-right">
                        <div class="btn-group ml-auto">
                          <button class="btn btn-sm dropdown-toggle action-btn" type="button" data-toggle="dropdown">Actions</button>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Reject Refund</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tab-pane fade pt-3" id="audit-content" role="tabpanel" aria-labelledby="audit-tab">
              <div class="row">
                <div class="col-8 col-lg-6 mb-3">
                  <form id="searchForm" method="post" action="/AuditLogs/search">
                    <div class="input-group">
                      <input aria-describedby="searchButton" aria-label="Search Field" class="form-control" id="SearchText" name="SearchText" placeholder="Search" type="text" value="">
                      <div class="input-group-append">
                          <button class="btn btn-secondary btn-sm" type="button" id="searchButton"><i class="material-icons">search</i></button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-4 ml-auto mb-3 text-right">
                  <div class="btn-group ml-auto">
                    <button class="btn btn-outline-secondary dropdown-toggle action-btn" type="button" data-toggle="dropdown">Actions</button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#addAuditLog" data-toggle="modal">Add Log</a>
                      <a class="dropdown-item" href="#">View Audit Log</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card order-card table-responsive-lg">
                <table class="table table-sm table-hover font-smaller mb-0">
                  <thead class="thead-light">
                    <tr>
                      <th>Event Name</th>
                      <th>Message</th>
                      <th>Timestamp</th>
                      <th>Type</th>
                      <th>Id</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>OrderAccessed</td>
                      <td>User christian.castanares@amersc.com accessed order: 30031098</td>
                      <td><span class="">05/18/2020 13:53 PM</span></td>
                      <td>Order</td>
                      <td>30031098</td>
                    </tr>
                    <tr>
                      <td>AccessingOrder</td>
                      <td>User christian.castanares@amersc.com is attempting to access order: 30031098</td>
                      <td><span class="">05/18/2020 13:53 PM</span></td>
                      <td>Order</td>
                      <td>30031098</td>
                    </tr>
                    <tr>
                      <td>OrderAccessed</td>
                      <td>User christian.castanares@amersc.com accessed order: 30031098</td>
                      <td><span class="">05/12/2020 15:09 PM</span></td>
                      <td>Order</td>
                      <td>30031098</td>
                    </tr>
                    <tr>
                      <td>AccessingOrder</td>
                      <td>User christian.castanares@amersc.com is attempting to access order: 30031098</td>
                      <td><span class="">05/12/2020 15:09 PM</span></td>
                      <td>Order</td>
                      <td>30031098</td>
                    </tr>
                    <tr>
                      <td>OrderAccessed</td>
                      <td>User christian.castanares@amersc.com accessed order: 30031098</td>
                      <td><span class="">05/12/2020 15:09 PM</span></td>
                      <td>Order</td>
                      <td>30031098</td>
                    </tr>
                    <tr>
                      <td>AccessingOrder</td>
                      <td>User christian.castanares@amersc.com is attempting to access order: 30031098</td>
                      <td><span class="">05/12/2020 15:09 PM</span></td>
                      <td>Order</td>
                      <td>30031098</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="pagination-wrap mt-4">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled" id="previous"><a class="page-link" id="previousLink" disabled="" href="#">&#8592;</a></li>
                  <li class="page-item active"><a class="page-link page" data-page="1" href="javascript:void(0)">1</a></li>
                  <li class="page-item"><a class="page-link page" data-page="2" href="javascript:void(0)">2</a></li>
                  <li class="page-item"><a class="page-link page" data-page="3" href="javascript:void(0)">3</a></li>
                  <li class="page-item" id="next"><a class="page-link" id="nextLink" href="javascript:void(0)">&#8594;</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

{% block FooterIncludes %}
<!-- Modal confirmation for resetting account password -->
<div class="modal fade" id="resetPassword" tabindex="-1" role="dialog" aria-labelledby="lockOrder" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Please Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <form method="post" action="#">
        <div class="modal-body">
          <p>Are you sure you want to send a password reset email for username: <span class="text-danger">[display username here]</span>?</p>
          <p class="mb-0">This will send a reset password email to the account email on file.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link text-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Yes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal confirmation for locking/unlocking orders -->
<div class="modal fade" id="lockOrder" tabindex="-1" role="dialog" aria-labelledby="lockOrder" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Please Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <form method="post" action="#">
        <div class="modal-body">
          <p class="mb-0">Are you sure you want to lock/unlock Order ID: <span class="text-danger">[display ID here]</span>?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link text-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Yes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal confirmation for resending registration emails -->
<div class="modal fade" id="resendEmailConfirmation" tabindex="-1" role="dialog" aria-labelledby="lockOrder" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Please Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <form method="post" action="#">
        <div class="modal-body">
          <label for="email">Resend confirmation for Order ID: <span class="text-danger">[display ID here]</span></label>
          <input class="form-control" id="email" name="email" value="email@onfile.com" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link text-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal for additional log messages -->
<div class="modal fade" id="addAuditLog" tabindex="-1" role="dialog" aria-labelledby="AddAuditLog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Audit Log</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <form method="post" action="/Orders/logaudit">
        <div class="modal-body">
          <textarea class="form-control" id="NoteMessage" name="NoteMessage"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link text-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Add Log</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
