{% set PageTitle = "Account Manager 2.0" %}
{% set PageDescription = "Live Mockups for Account Manager 2.0" %}
{% set CanonicalPage = "" %}

{% extends "MainTemplate.njk" %}

{% block MainContent %}
<section class="content-wrap wrap flex-shrink-0">
  <div class="container-fluid but-fixed">
    <div class="row justify-content-center">
      <div class="breadcrumb-wrap col-12 d-flex">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Search</a></li>
            <li class="breadcrumb-item active" aria-current="page">Audit Logs</li>
          </ol>
        </nav>
      </div>
      <div class="col-12">
        <p class="text-danger">This should be a global log with the all things that happened on AM2.0, including things that has been done by other users of AM2.0 on other accounts, that is if that's possible.</p>
        <h1 class="mb-3">Audit Logs</h1>
        <div class="row">
          <div class="col-8 col-lg-6 mb-3">
            <form id="searchForm" method="post" action="/AuditLogs/search">
              <div class="input-group">
                <input aria-describedby="searchButton" aria-label="Search Field" class="form-control" id="SearchText" name="SearchText" placeholder="Search" type="text" value="">
                <div class="input-group-append">
                    <button class="btn btn-secondary btn-sm" type="button" id="searchButton"><i class="material-icons">search</i></button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-4 ml-auto mb-3 text-right">
            <div class="btn-group ml-auto">
              <button class="btn btn-outline-secondary dropdown-toggle action-btn" type="button" data-toggle="dropdown">Actions</button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#addAuditLog" data-toggle="modal">Add Log</a>
                <a class="dropdown-item" href="#">View Audit Log</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card order-card table-responsive-lg">
          <table class="table table-sm table-hover font-smaller mb-0">
            <thead class="thead-light">
              <tr>
                <th>Event Name</th>
                <th>Message</th>
                <th>Timestamp</th>
                <th>Type</th>
                <th>Id</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>OrderAccessed</td>
                <td>User christian.castanares@amersc.com accessed order: 30031098</td>
                <td><span class="">05/18/2020 13:53 PM</span></td>
                <td>Order</td>
                <td>30031098</td>
              </tr>
              <tr>
                <td>AccessingOrder</td>
                <td>User christian.castanares@amersc.com is attempting to access order: 30031098</td>
                <td><span class="">05/18/2020 13:53 PM</span></td>
                <td>Order</td>
                <td>30031098</td>
              </tr>
              <tr>
                <td>OrderAccessed</td>
                <td>User christian.castanares@amersc.com accessed order: 30031098</td>
                <td><span class="">05/12/2020 15:09 PM</span></td>
                <td>Order</td>
                <td>30031098</td>
              </tr>
              <tr>
                <td>AccessingOrder</td>
                <td>User christian.castanares@amersc.com is attempting to access order: 30031098</td>
                <td><span class="">05/12/2020 15:09 PM</span></td>
                <td>Order</td>
                <td>30031098</td>
              </tr>
              <tr>
                <td>OrderAccessed</td>
                <td>User christian.castanares@amersc.com accessed order: 30031098</td>
                <td><span class="">05/12/2020 15:09 PM</span></td>
                <td>Order</td>
                <td>30031098</td>
              </tr>
              <tr>
                <td>AccessingOrder</td>
                <td>User christian.castanares@amersc.com is attempting to access order: 30031098</td>
                <td><span class="">05/12/2020 15:09 PM</span></td>
                <td>Order</td>
                <td>30031098</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pagination-wrap mt-4">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled" id="previous"><a class="page-link" id="previousLink" disabled="" href="#">&#8592;</a></li>
            <li class="page-item active"><a class="page-link page" data-page="1" href="javascript:void(0)">1</a></li>
            <li class="page-item"><a class="page-link page" data-page="2" href="javascript:void(0)">2</a></li>
            <li class="page-item"><a class="page-link page" data-page="3" href="javascript:void(0)">3</a></li>
            <li class="page-item" id="next"><a class="page-link" id="nextLink" href="javascript:void(0)">&#8594;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block FooterIncludes %}
{% endblock %}
