{% set PageTitle = "Account Manager 2.0" %}
{% set PageDescription = "Live Mockups for Account Manager 2.0" %}
{% set CanonicalPage = "/inner-page/" %}

{% extends "InnerTemplate.njk" %}

{% block Content %}

  <h1>This is an example of an inner page</h1>

{% endblock %}
