{% set PageTitle = "Account Manager 2.0" %}
{% set PageDescription = "Live Mockups for Account Manager 2.0" %}
{% set CanonicalPage = "" %}

{% extends "MainTemplate.njk" %}

{% block MainContent %}
  <section class="wrap flex-shrink-0">
    <div class="container-fluid but-fixed">
      <div class="row">
        <div class="col-12">
          <div class="card border-dark mb-3 mb-lg-4">
            <div class="card-body pt-3 pb-3">
              <div class="row">
                <div class="col-sm-6 col-lg-3 student-data-col">
                  <div class="label text-muted font-weight-light small">Student Name</div>
                  <div class="student-data">Christian C. Castanares</div>
                </div>
                <div class="col-sm-6 col-lg-3 student-data-col">
                  <div class="label text-muted font-weight-light small">Username</div>
                  <div class="student-data">xtiantest_0512</div>
                </div>
                <div class="col-sm-6 col-lg-3 student-data-col">
                  <div class="label text-muted font-weight-light small">Email</div>
                  <div class="student-data">test@email.com</div>
                </div>
                <div class="col-sm-6 col-lg-3 student-data-col">
                  <div class="label text-muted font-weight-light small">Date of Birth</div>
                  <div class="student-data">5/20/2020</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="d-flex mb-3">
            <h2 class="mb-0 mr-3">Order ID: 30030986</h2>
            <div class="btn-group">
              <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Actions</button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Sync Course/s</a>
                <a class="dropdown-item" href="#">Customer Replay</a>
                <a class="dropdown-item" href="#">Impersonate Student</a>
                <a class="dropdown-item" href="#lockOrder" data-toggle="modal">Lock/Unlock Order</a>
                <a class="dropdown-item" href="#resendEmailConfirmation" data-toggle="modal">Resend Email Confirmation</a>
                <a class="dropdown-item" href="#">Request Refund</a>
                <a class="dropdown-item" href="#">Process Administrative Fees</a>
              </div>
            </div>
          </div>
          <div class="card order-card table-responsive-lgmb-4">
            <table class="table table-hover mb-0 font-smaller">
              <thead class="thead-light">
                <tr>
                  <th>Is Locked</th>
                  <th>Detail Id</th>
                  <th>Quantity</th>
                  <th>Product ID and Name</th>
                  <th>Expiration</th>
                  <th>Platform</th>
                  <th class="text-right">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>False</td>
                  <td><a href="/order-details/">30030981</a></td>
                  <td>1</td>
                  <td>1591 - Florida 4-Hour Drug & Alcohol Traffic Awareness (D.A.T.A.) Streaming</td>
                  <td>04/14/2020 15:29 PM</td>
                  <td>UniversityLE</td>
                  <td class="text-right">
                    <div class="btn-group ml-auto">
                      <button class="btn btn-sm dropdown-toggle action-btn" type="button" data-toggle="dropdown">Actions</button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">View Course Status</a>
                        <a class="dropdown-item" href="#">Impersonate Student</a>
                        <a class="dropdown-item" href="#lockOrder" data-toggle="modal">Lock/Unlock Course</a>
                        <a class="dropdown-item" href="#">Request Refund</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>False</td>
                  <td><a href="/order-details/">30030982</a></td>
                  <td>1</td>
                  <td>1371 - Florida Online Permit Exam</td>
                  <td>04/14/2020 15:29 PM</td>
                  <td>UniversityLE</td>
                  <td class="text-right">
                    <div class="btn-group ml-auto">
                      <button class="btn btn-sm dropdown-toggle action-btn" type="button" data-toggle="dropdown">Actions</button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">View Course Status</a>
                        <a class="dropdown-item" href="#">Impersonate Student</a>
                        <a class="dropdown-item" href="#lockOrder" data-toggle="modal">Lock/Unlock Course</a>
                        <a class="dropdown-item" href="#">Request Refund</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>False</td>
                  <td><a href="/order-details/">30030983</a></td>
                  <td>1</td>
                  <td>1021 - Learner's Permit Prep</td>
                  <td>04/14/2020 15:29 PM</td>
                  <td>UniversityLE</td>
                  <td class="text-right">
                    <div class="btn-group ml-auto">
                      <button class="btn btn-sm dropdown-toggle action-btn" type="button" data-toggle="dropdown">Actions</button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">View Course Status</a>
                        <a class="dropdown-item" href="#">Impersonate Student</a>
                        <a class="dropdown-item" href="#lockOrder" data-toggle="modal">Lock/Unlock Course</a>
                        <a class="dropdown-item" href="#">Request Refund</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>False</td>
                  <td><a href="/order-details/">30030984</a></td>
                  <td>1</td>
                  <td>1324 - Package Discount	</td>
                  <td>-</td>
                  <td>UniversityLE</td>
                  <td class="text-right">
                    <div class="btn-group ml-auto">
                      <button class="btn btn-sm dropdown-toggle action-btn" type="button" data-toggle="dropdown">Actions</button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Impersonate Student</a>
                        {# <a class="dropdown-item" href="#lockOrder" data-toggle="modal">Lock/Unlock Course</a>
                        <a class="dropdown-item" href="#">Request Refund</a> #}
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>False</td>
                  <td><a href="/order-details/">30030985</a></td>
                  <td>1</td>
                  <td>1663 - Premier Pass</td>
                  <td>-</td>
                  <td>UniversityLE</td>
                  <td class="text-right">
                    <div class="btn-group ml-auto">
                      <button class="btn btn-sm dropdown-toggle action-btn" type="button" data-toggle="dropdown">Actions</button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Impersonate Student</a>
                        {# <a class="dropdown-item" href="#lockOrder" data-toggle="modal">Lock/Unlock Course</a> #}
                        <a class="dropdown-item" href="#">Request Refund</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </section>

{% endblock %}

{% block FooterIncludes %}
<!-- Modal confirmation for locking/unlocking orders -->
<div class="modal fade" id="lockOrder" tabindex="-1" role="dialog" aria-labelledby="lockOrder" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Please Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <form method="post" action="#">
        <div class="modal-body">
          <p class="mb-0">Are you sure you want to lock/unlock Order ID: <span class="text-danger">[display ID here]</span>?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link text-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Yes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal confirmation for resending registration emails -->
<div class="modal fade" id="resendEmailConfirmation" tabindex="-1" role="dialog" aria-labelledby="lockOrder" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Please Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <form method="post" action="#">
        <div class="modal-body">
          <label for="email">Resend confirmation for Order ID: <span class="text-danger">[display ID here]</span></label>
          <input class="form-control" id="email" name="email" value="email@onfile.com" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link text-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
