{% set PageTitle = "Account Manager 2.0" %}
{% set PageDescription = "Live Mockups for Account Manager 2.0" %}
{% set CanonicalPage = "" %}

{% extends "MainTemplate.njk" %}

{% block MainContent %}
  <section class="wrap flex-shrink-0">
    <div class="container-fluid but-fixed">
      <div class="row">
        <div class="col-12">
          <div class="card border-dark mb-3 mb-lg-4">
            <div class="card-body pt-3 pb-3">
              <div class="row">
                <div class="col-sm-6 col-lg-3 student-data-col">
                  <div class="label text-muted font-weight-light small">Student Name</div>
                  <div class="student-data">Christian C. Castanares</div>
                </div>
                <div class="col-sm-6 col-lg-3 student-data-col">
                  <div class="label text-muted font-weight-light small">Username</div>
                  <div class="student-data">xtiantest_0512</div>
                </div>
                <div class="col-sm-6 col-lg-3 student-data-col">
                  <div class="label text-muted font-weight-light small">Email</div>
                  <div class="student-data">test@email.com</div>
                </div>
                <div class="col-sm-6 col-lg-3 student-data-col">
                  <div class="label text-muted font-weight-light small">Date of Birth</div>
                  <div class="student-data">5/20/2020</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card mb-4">
            <div class="card-header d-flex">
              <h5 class="card-title mb-0">Account Information</h5>
              <div class="btn-group ml-auto">
                <button class="btn btn-sm dropdown-toggle action-btn" type="button" data-toggle="dropdown">
                  Actions
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">Update Information</a>
                  <a class="dropdown-item" href="#">Reset Password</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <table class="table table-responsive table-sm table-no-borders mb-0">
                <tbody>
                  <tr>
                    <td class="label">First Name</td>
                    <td class="student-data">Christian</td>
                  </tr>
                  <tr>
                    <td class="label">Middle Name/Initial</td>
                    <td class="student-data">C</td>
                  </tr>
                  <tr>
                    <td class="label">Last Name</td>
                    <td class="student-data">Castanares</td>
                  </tr>
                  <tr>
                    <td class="label">Shipping Address</td>
                    <td class="student-data">225 E Robinson St Suite 570, Orlando, FL 32801</td>
                  </tr>
                  <tr>
                    <td class="label">Email</td>
                    <td class="student-data">test@email.com</td>
                  </tr>
                  <tr>
                    <td class="label">Phone</td>
                    <td class="student-data">111-111-1111</td>
                  </tr>
                  <tr>
                    <td class="label">Username</td>
                    <td class="student-data">xtiantest_0512</td>
                  </tr>
                  <tr>
                    <td class="label">Social Security #</td>
                    <td class="student-data">***-**-1111</td>
                  </tr>
                  <tr>
                    <td class="label">Is Active</td>
                    <td class="student-data">Yes</td>
                  </tr>
                  <tr>
                    <td class="label">Is Migrated</td>
                    <td class="student-data">Yes</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card mb-4">
            <div class="card-header d-flex">
              <h5 class="card-title mb-0">Payment Information</h5>
              <div class="btn-group ml-auto">
                <button class="btn btn-sm dropdown-toggle action-btn" type="button" data-toggle="dropdown">
                  Actions
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">Resend Email Confirmation</a>
                  <a class="dropdown-item" href="#">Request Refund</a>
                  <a class="dropdown-item" href="#">Process Administrative Fees</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <table class="table table-responsive table-sm table-no-borders mb-3">
                <tbody>
                  <tr>
                    <td class="label">First Name</td>
                    <td class="student-data">Christian</td>
                  </tr>
                  <tr>
                    <td class="label">Last Name</td>
                    <td class="student-data">Castanares</td>
                  </tr>
                  <tr>
                    <td class="label">Billing Address</td>
                    <td class="student-data">225 E Robinson St Suite 570, Orlando, FL 32801</td>
                  </tr>
                  <tr>
                    <td class="label">Billing Email</td>
                    <td class="student-data">test@email.com</td>
                  </tr>
                  <tr>
                    <td class="label">Billing Phone</td>
                    <td class="student-data">111-111-1111</td>
                  </tr>
                </tbody>
              </table>
              <h4>Transacations</h4>
              <table class="table table-bordered table-sm mb-0">
                <thead>
                  <tr>
                    <th scope="col">Date/Time</th>
                    <th scope="col">Reference #</th>
                    <th scope="col">Card Last 4</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>05/20/2020 10:15 PM</td>
                    <td>0012312345123</td>
                    <td>1111</td>
                  </tr>
                  <tr>
                    <td>04/14/2020 15:24 PM</td>
                    <td>0012312345123</td>
                    <td>1111</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="card mb-4">
            <h5 class="card-header">Order Information</h5>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
