/* --------------------------------------------------------------
    Import CCS Dependencies
-------------------------------------------------------------- */
@import 'colors';
@import 'default';
@import 'icons';
@import 'nav';
@import 'buttons';
/* --------------------------------------------------------------
    Start Project CSS
-------------------------------------------------------------- */
html {
  position: relative;
  height: 100%;
  background-color: #f8f9fc;
  overflow-y: scroll;
  // -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
}
body {
  height: 100%;
  // margin-bottom: 60px; /* setting for sticky footer */
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-rendering: optimizeLegibility;
  color: #555555;
  background-color: #f8f9fc;
}
.wrap {
  padding: 15px 0;
}
.container-fluid.but-fixed {
  // max-width: 1230px;
  max-width: 1400px;
}
.content-wrap {
  // background-color: #f8f9fc;
}
.footer {
  padding-top: 15px;
  padding-bottom: 15px;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  color: #999999;
  border-top: 1px solid #e4e4e4;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-brand {
  img {
    vertical-align: middle;
    margin-right: 10px;
  }
  .brand-text {
    vertical-align: middle;
    font-weight: 300;
  }
}
.input-group {
  .input-group-text {
    background-color: #f7f7f7;
    font-size: .9rem;
  }
}
.am-input-group {
  .input-group-prepend {
    width: 100%;
    max-width: 160px;
  }
  .input-group-text {
    width: 100%;
    background-color: #f7f7f7;
    font-size: .9rem;
  }
}
.nav-tabs {
  padding-left: .75rem;
  padding-right: .75rem;
  .nav-item {
    margin-left: 2px;
    margin-right: 2px;
  }
}
.table.font-smaller {
  font-size: .9rem;
}
.card {
  border-color: #e3e6f0;
  border-top-color: $primary;
  border-top-width: 1px;
  box-shadow: 0 .15rem .75rem 0 rgba(58,59,69,.1) !important;
  .card-header {
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
    font-weight: 600;
  }
  &.order-card {
    .table {
      th:first-child,
      td:first-child {
        padding-left: 1.25rem;
      }
      th:last-child,
      td:last-child {
        padding-right: 1.25rem;
      }
    }
  }
  > .table thead,  .card-body > .table thead {
    th {
      border-top-width: 0;
      border-bottom-width: 1px;
      background-color: #f8f9fc;
      border-bottom: 1px solid #e3e6f0;
    }
    th:first-child {
      border-top-left-radius: 4px;
    }
    th:last-child {
      border-top-right-radius: 4px;
    }
  }
  .card-body > .table thead {
    th {
      padding-top: .3rem;
      padding-bottom: .3rem;
    }
  }
  .card-header {
    .action-btn {
      padding: 0 !important;
    }
    .card-title {
      color: $primary;
      font-weight: 600;
      margin-bottom: 0;
    }
  }
  .card-body {
    .table.table-no-borders {
      th, td {
        border: 0;
        padding: .2rem 0;
      }
      .label {
        max-width: 175px;
        padding-right: 10px;
      }
      .student-data {
        font-weight: 600;
      }
    }
    dl {
      .label {
        vertical-align: top;
        width: 100%;
        padding-right: 10px;
        font-weight: 300;
        color: #6c757d !important;
        font-size: 80%;
      }
      .student-data {
        vertical-align: top;
        font-weight: 600;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
.modal-body {
  .card {
    box-shadow: none !important;
    border-top-color: #e3e6f0;
  }
}
.student-data-col {
  .student-data {
    font-weight: 600;
    margin-top: .2rem;
    margin-bottom: .5rem;
  }
  &:last-child {
    .student-data {
      margin-bottom: 0;
    }
  }
}
.table {
  color: inherit;
  .action-btn {
    padding: 0 !important;
  }
  th.action {
    min-width: 100px;
  }
  th.product-name {
    min-width: 300px;
  }
  tfoot {
    background-color: #fdfdfd;
    font-weight: 600;
  }
  &.table-hover tbody tr:hover {
    background-color: #f8f9fc;
  }
  .material-icons {
    margin-top: -3px;
    font-size: 21px;
    vertical-align: middle;
    line-height: 1;
  }
}
p.course-name {
  font-weight: 600;
}
.security-questions-list {
  h5 {
    color: inherit;
  }
  .choices {
    margin-left: 10px;
  }
}
.nav-tabs {
  border-bottom: 1px solid #6c757d;
  .nav-item.show .nav-link, .nav-link.active, .nav-link.active:hover {
    background-color: #F8F9FC;
    border-color: #6c757d #6c757d #F8F9FC #6c757d;
  }
  .nav-link:hover {
    border-color: #d7d7d7 #d7d7d7 #F8F9FC #d7d7d7;
  }
}
.breadcrumb-wrap {
  margin-bottom: 1.5rem;
  .breadcrumb {
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    border-radius: 0;
    .breadcrumb-item {
      color: inherit;
      opacity: .6;
      a {
        color: inherit;
        &:hover {
          opacity: 1;
          color: inherit;
        }
      }
      &:before {
        opacity: .6;
      }
    }
  }
}
.alert.impersonating {
  padding-right: 1.25rem;
  .close-btn {
    color: inherit;
    padding: 0 !important;
    &:hover {
      color: #555;
    }
    .close-icon {
      font-size: 24px;
      line-height: 1;
      display: inline-block;
      vertical-align: middle;
    }
    .close-text {
      display: inline-block;
      vertical-align: middle;
      font-size: 1rem;
      font-weight: 400;
    }
  }
}
.toast-notification {
  position: absolute;
  top: 90px;
  right: 30px;
}
.quick-filter {
  .quick-filter-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
    + .quick-filter-btn {
      font-size: 1rem;
      border: 1px solid transparent;
      box-sizing: border-box;
      color: $primary;
      padding: .2rem .6rem !important;
      &:hover {
        border: 1px solid $primary;
        // padding: 3px 10px !important;
      }
    }
    &:checked + .quick-filter-btn {
      background-color: $primary;
      color: #ffffff;
    }
  }
}
.dropdown-checkboxes {
  label {
    width: 100%;
  }
}

/* ----------------------------------------------------------------------------
    Page Media Queries
----------------------------------------------------------------------------- */
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container-fluid.but-fixed {
      padding-left: 30px;
      padding-right: 30px;
  }
  .wrap {
    padding: 30px 0;
  }
  .breadcrumb-wrap {
    margin-top: -1rem;
  }
  .student-data-col {
    &:nth-child(3) {
      .student-data {
        margin-bottom: 0;
      }
    }
  }
  .card {
    .card-body {
      dl {
        .label {
          max-width: 180px;
          display: inline-block;
          font-weight: 400;
          color: inherit !important;
          font-size: 100%;
        }
        .student-data {
          width: 100%;
          max-width: calc(100% - 185px);
          display: inline-block;
        }
      }
    }
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .student-data-col {
    .student-data {
      margin-bottom: 0;
    }
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
